Owl_Home/Owl_home_1.0_alpha/dist/Owl_home_1.0.zip
Owl_Home/setting.json
*.exe
Owl_home_1.0_alpha/dist/
*.pyc
Owl_Home/Owl_home_1.1_alpha/build/main/Analysis-00.toc
Owl_Home/Owl_home_1.1_alpha/dist/
Owl_Home/Owl_home_1.1_alpha/build/
*.spec
Owl_Home/Owl_home_1.1/dist/ui/Owl_1.1.ui
Owl_Home/Owl_home_1.1/build/
Owl_Home/Owl_home_1.1/dist/
The_Owl/Owl_balcar/1.0/Objects/
*.zip
The_Owl/Owl_fly/EVA00/3D model.7z
